{
  "name": "io.github.masahide.chrome_tab_organizer",
  "description": "Chrome Tab Organizer Native Messaging Host",
  "path": "{{TABCTL_PATH}}",
  "type": "stdio",
  "allowed_origins": [
    "chrome-extension://ddgfmgclndpdobieomcjaklboinbaoel/"
  ]
}
