{
  "name": "io.github.masahide.tabcli",
  "description": "tabcli Native Messaging Host",
  "path": "{{TABCLI_PATH}}",
  "type": "stdio",
  "allowed_origins": [
    "chrome-extension://ddgfmgclndpdobieomcjaklboinbaoel/"
  ]
}
